* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background: #e1e1e1;
  margin: 0;
  padding: 0;
}

a {
  color: #2068AF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-family: 'Buda', arial, serif;
  margin: 3px 0 15px 0;
  font-weight: 100;
  border-bottom: 1px dotted #919191;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 19px;
  border-bottom: none;
  margin: 8px 0 3px 0;
}

ul {
  margin: 0 0 20px 30px;
  list-style-type: square;
}

ol {
  margin: 0 0 20px 30px;
  list-style-type: decimal;
}

blockquote {
  background: #eee;
  border-left: 5px solid #bcbcbc;
  padding: 10px;
  margin: 0 0 20px 0;
}

blockquote p {
  margin: 0;
  padding: 0;
}

p {
  padding: 0 0 20px 0;
}

table {
  margin: 0 0 20px 0;
  text-align: left;
  width: 100%;
}

td, th {
  padding: 5px 0 5px 0;
  /*default -> border: 1px solid #e7e7e7;*/
  border: none;
}

th {
  font-weight: normal;
  color: #323232;
  padding: 0;
}

input, button, textarea {
  padding: 2px 5px;
}

textarea {
  border-radius: 3px;
}

button {
  cursor: pointer;
}

#wrap {
  width: 1000px;
  margin: 0 auto;
}

#header {
  height: 160px;
  background: url(../img/header.jpg) repeat-x;
  text-align: right;
}

#header h1 {
  font-family: 'Amaranth', arial, serif;
  margin: 0;
  padding: 40px 50px 0 0;
  font-weight: bold;
  font-size: 51px;
  border: none;
  line-height: 1;
  background: none;
}

#header h1 a {
  text-decoration: none;
  color: #fff;
}

#header h1 a:hover {
  text-decoration: none;
}

#header h2 {
  background: none;
  font-family: 'Buda', arial, serif;
  border: none;
  margin: 0;
  padding: 0 50px 0 0;
  color: #000;
  font-weight: bold;
  font-size: 21px;
}

#menu {
  background: url(../img/menu.jpg) repeat-x;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

#menu ul li {
  display: block;
  float: left;
}

#menu ul li a {
  display: block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #fff;
}

#menu ul li a:hover {
  color: #fff;
  background: url(../img/menuover.png) repeat-x;
}

#menubottom {
  background: url(../img/menubottom.jpg) no-repeat;
  padding: 5px 0;
}

#content {
  background: url(../img/content.jpg) repeat-y;
  padding: 10px 30px 20px 30px;
}

.left {
  float: left;
  width: 620px;
}

.right {
  float: right;
  width: 300px;
  color: #717171;
}

.right h3 {
  background: url(../img/sidebar.jpg) no-repeat;
  height: 50px;
  line-height: 40px;
  margin: 0;
  padding: 0 0 0 10px;
  color: #fff;
  font-size: 19px;
  border: none;
}

.right ul {
  margin: 0;
  padding: 5px 0 20px 10px;
  list-style-type: none;
}

.right ul li {
  background: url(../img/list.png) no-repeat left top;
  padding: 0 0 3px 20px;
  margin: 0;
  font-size: 13px;
}

.right ul li a {
  font-size: 14px;
}

#footertop {
  background: url(../img/footertop.jpg) no-repeat;
  padding: 5px 0;
}

#footer {
  background: url(../img/footer.jpg) no-repeat;
  padding: 0 20px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

#footer p {
  padding: 0;
  margin: 0;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  border-bottom: 1px dotted #fff;
  text-decoration: none;
}

.footerleft {
  float: left;
}

.footerright {
  float: right;
}

/* follow on twitter widget */
#twitter-widget-0, #twitter-widget-1, #twitter-widget-2 {
  vertical-align: middle;
}

.small {
  font-size: 90%;
}
